@model ProjetoArquitetura.Models.Models.ClienteModel

@{
    ViewData["Title"] = "Cliente";
}


<h4>Cadastrar cliente</h4>
<hr class="bg-white" />
<div class="row">

    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Formulario" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
