@model ProjetoArquitetura.Models.Models.FornecedorModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar fornecedor</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Formulario" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

